/**
 * Author: Andrew Blaine
 *
 */

/* _MAIN_COLORS
 **************************************************************************/
body { background-color: #333301;
	font-family: "Helvetica", sans-serif; }/*TODO: Use font stack */
.tabs .selected, #schedule thead tr { background-color: #993400; }
.tabs li { background-color: #61613d; }
#schedule thead tr { color: #ccc; }

/* _COURSE_COLORS
 **************************************************************************/
/* TODO: Check all colors for contrast/similarity to others.. */
.course0 { background-color: #ffca63; }
.course1 { background-color: #9de855; }
.course2 { background-color: #6afffa; }
.course3 { background-color: #ff605e; }
.course4 { background-color: #7a55e8; }
.course5 { background-color: #d6e8a9; }
.course6 { background-color: #ffe5bf; }
.course7 { background-color: #c7fff3; }
.course8 { background-color: #ffbacd; }
.course9 { background-color: #aea9e8; }

.remove { float: right; color: #f00; text-decoration: none; cursor: pointer; }

.tabs { float: left; cursor: pointer; }
.tabs li { float: left; margin: 0 8px; }
.tabs li a { display: block; padding: 4px 10px;
	color: #fff; text-decoration: none; text-align: center; font-variant: small-caps; }

#schedule { margin: 16px 8px 0; }
#schedule table { width: 100%; clear: both; }
#schedule td { width: 19.2%; }
#schedule thead { text-align: center; }
#schedule thead tr { font-weight: normal; }
#schedule thead th,
#schedule thead td { height: 30px; vertical-align: middle; }
#schedule tbody th,
#schedule tbody td { padding: 2px; }
#schedule tbody th { text-align: center; min-width: 54px; font-weight: normal; }
#schedule tbody td { border-left: 2px solid #e0e0e0; font-size: 12px; }

#miscTabs { float: right; margin: -16px 8px 0 0; }
#miscTabs li { border-top-style: none; }

/*TODO: webkit declarations */
#schedule ul li { border-radius: 6px 6px 0 0; -moz-border-radius: 6px 6px 0 0; }
#miscTabs li { border-radius: 0 0 6px 6px; -moz-border-radius: 0 0 6px 6px; }

.idleField { color: #2a532b; }
input.idleField { background-color: #eee; }

/* FOOTER */
.footer { margin: 0 8px 16px; overflow-y: hidden; }
.footer .searchResult { width: 50%; float: left; }
.footer .searchResult .container { margin: 0 8px; padding: 10px 0; overflow-y: hidden; background-color: #993400; }
.footer .searchResult .container { -moz-border-radius: 0 0 6px 6px; }
.footer .searchResult .container div div { margin: 0 auto; padding: 2px 0; width: 50%; }
.footer .searchResult select,
.footer .searchResult input { width: 250px; }
.footer .searchResult .button { margin-top: 8px; font-size: 16px; background-color: #8bff68; }
.footer .searchResult .button.half { width: 121px; }
.footer .searchResult .button.clear { background-color: #ff3c32; }
.footer .searchResult .button.submit { margin: 0 0 0 8px; }

/* RESULTS */
.searchResult .result { margin: 0 8px; }
.searchResult .result table { width: 100%; border: 2px solid #333; background-color: #fff; font-family: monospace; }
.searchResult .result table thead tr { font-size: 16px; text-align: center; font-weight: bold; border-bottom: 2px solid #333; background-color: #ccc; }
.searchResult .result tbody td,
.searchResult .result tbody th { padding: 4px 6px; }
.searchResult .result tbody th { font-weight: normal; text-align: left; }
.searchResult .result tbody td { border-left: 2px solid #333; }
.searchResult .result tbody td span { display: block; }
.searchResult .result tbody td span.title { font-weight: bold; }
/*.searchResult .result tbody tr { border-bottom: 1px solid #ddd; }*/

.searchResult .result tbody tr.valid { background-color: #afa; }
.searchResult .result tbody tr.valid:hover { background-color: #8f8; cursor: pointer; }
.searchResult .result tbody tr.invalid { background-color: #faa; }
.searchResult .result tbody tr.invalid:hover { background-color: #f99; cursor: pointer; }
.searchResult .result tbody tr.used { background-color: #aaa; }/* On the current schedule */
.searchResult .result tbody tr.used:hover { background-color: #888; cursor: pointer; }/* On the current schedule */
