a { text-decoration: none; color: #090; cursor: pointer; }
a:link    { color: #090; }
a:visited { color: #090; }
a:hover   { color: #030; }
a:active  { color: #ccc; }
a.remove  { color: #f00; }
a.remove:hover { color: #900; }
em { font-style: normal; color: #f00; }
h2 { font-size: 20px; display: inline; }
small { font-size: smaller; }
select { margin: 2px 0; }
form.searchResults { padding: 4px; border: 1px solid #000; }

/* _TABS
 **************************************************************************/
.tabs-holder { float: left; width: 100%; }
.tabs { margin: 10px 0 0 10px; padding: 2px; float: left;
	background-color: #e0e0e0; border: 1px solid transparent; border-color: #000 #000 #e0e0e0; }
.curTab { margin: 10px 0 0 10px; padding: 2px; float: left;
	background-color: #fff; border: 1px solid transparent; border-color: #000 #000 #e0e0e0; }
.tabs a, .curTab a { color: #000; }

/****************************/
#print, #tutorial, #about, #back { margin: 0 10px 10px 0; padding: 0; float: right;
	background-color: #e0e0e0; border: 1px none #000; border-style: none solid solid; }
#help { float: left; margin: 12px 0 0; padding: 0 0 0 50px; visibility: hidden; font-size: 20px; }

/* _TABLES
 **************************************************************************/
table { float: left; width: 100%; font-size: 12px; }
table th { padding: 4px; border-bottom: 2px solid #000; }
table td.hour { border-right-style: none; }
table#schedule { float: left; margin: 0; padding: 0 0 10px; width: 100%;
	border: 1px none #000; border-style: solid none; }
table#schedule td { padding: 2px; font-size: 14px; }
table#schedule th, table#schedule td { border: 1px solid #000; }
table#results tr { border: 1px none #000; border-style: solid none; }
table#results td, table#results th { border: 1px solid #000; }
table#results td { padding: 2px 0; }

/****************************/
#searchResults1, #searchResults2 { width: 49%; } /* 50% works well except on IE6. Haven't tested IE7 */
#searchResults1 { float: left; }
#searchResults2 { float: right; }
#search1, #search2 { margin: 0 4px 5px; width: 99%; }
#search1 { float: left; }
#search2 { float: right; }
#results1, #results2 { margin: 4px; width: 99%; }
#courses { float: right; width: 70%; border: 1px solid #000; }

/****************************/
#schedChooser { float: left; margin: 10px 0 0 10px; }

/* _COURSE COLORS
 **************************************************************************/
/* TODO: Remove a few of the colors and make sure the colors that are left constrast well. */
td.course0  { background-color: #ffff99; }
td.course1  { background-color: #99ccff; }
td.course2  { background-color: #ccff99; }
td.course3  { background-color: #ffcccc; }
td.course4  { background-color: #ffcc66; }
td.course5  { background-color: #cccc00; }
td.course6  { background-color: #ccff00; }
td.course7  { background-color: #99cc00; }
td.course8  { background-color: #cccccc; }
td.course9  { background-color: #ff6600; }
td.course10 { background-color: #00ffcc; }
td.course11 { background-color: #9966ff; }
td.course12 { background-color: #ccff99; }
td.course13 { background-color: #999966; }
td.course14 { background-color: #ccffcc; }
